.App {
  text-align: center;
}

.menuitem {
  height: 80px;
  width: 60px;

}

.menuitems {
    box-sizing: border-box;
}

.menuitemname {
  text-transform: capitalize;
}

.button {
  border-radius: 10%;
}

.icon {
  font-size: 30px;
}

.menu {
  border-style: solid;
  border-width: 2px;
}

.order {
  border-style: solid;
  border-width: 2px;
}